header {
	width: 100%;
	height: 100%;
	display: table;
	background: url(./assets/image/paris.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  color: #fff;
}

h1 {
	margin: 30vh 0 35px;
  text-transform: uppercase;
  font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 39px;
}

header p {
  font-size: 30px;
}

header a {
  border: 2px solid #FCFCFC;
  display: inline-block;
  background-color: rgba(32,32,32,0.4);
  color: #FCFCFC;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.5s;
}

#dlcv {
  padding: 10px 30px;
}

#godown {
  padding: 0 10px;
  margin: 18vh 0px 1vh;
}

svg {
  stroke-width: 1px;
}