nav {
	background: 0;
	margin: 0 auto;
	padding: 20px 0;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

nav.collapse {
	background-color: rgba(32,32,32,.9);
	padding: 0;
	border-bottom: 2px solid white;
}

nav .container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

nav ul {
	list-style: none;
}

nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 1px;
	font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	padding: 19.5px 15px;
	-webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.logo {
	grid-column:  1;
	text-align: left;
	height: 60px;
	padding: 8.5px 0 20.5px;
	margin-left: 15px;
	line-height: 21px;
}

.navbarLinks {
	grid-column: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0;
}

.navbarLinks a:hover,
.navbarLinks a:focus,
.navbarLinks a:active {
	background-color: rgba(252,252,252,.7);
   color: #222;
}

#navToggle, .burgerMenu {
	display: none;
}

@media only screen and (max-width: 1025px) {
	.burgerMenu {
		display: inline-block;
		font-size: 36px;
	}

	.navbarLinks {
		display: none;
	}

	#navToggle:checked ~ .navbarLinks {
		display: grid;
		grid-row: 2;
	}
}